/* Resets */

html, body, header, nav, h1, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Roboto';
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background: #f9f9f9;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

html,
body,
header {
	background-color: #111116; /* Black */
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.letters {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
}

div.fade {
    -webkit-animation: fade 0.1s;
    animation: fade 0.1s;
 }

@-webkit-keyframes fade {
    from {
      opacity: 0;
      margin-left: 50vw;
    }
    to {
      opacity: 1;
      margin-left: 0%;

    }
}

@keyframes fade {
  from {
    opacity: 0;
    margin-left: 50vw;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}
